.mainpage-container {
  height: 100vh;
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: orange;
}

.left-column{
  background-color: white;
}

.right-column{
  background-color: yellow;
}

.left-column, .right-column {
  flex: 1;
  padding: 1rem;
  border-radius: 1rem;

}
.center-content{
background-color: wheat;
flex: 2;
align-self: center;
border-radius: 1rem;
padding: 1.5rem;
}
